name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: team 1
      id: team-1
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: team 1
        setup-command: ''
        command: ashmila
        input: ''
        expected-output: wertyq
        comparison-method: exact
        timeout: 10
        max-score: 15
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEAM-1_RESULTS: "${{steps.team-1.outputs.result}}"
      with:
        runners: team-1
